<html>

<head>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />
</head>

<body>
  <footer class="bd-footer text-muted">
    <div class="container">
      Coupon System by Gilad Mautner©
      <br>
      <br>
      <a href="https://www.linkedin.com/in/gilad-mautner-a52874152/">
        <i class="fa fa-linkedin"></i>
      </a>
      -
      <a href="https://github.com/GagoM">
        <i class="fa fa-github"></i>
      </a>
    </div>
  </footer>
</body>

</html>