 .loader {
        margin: 0 auto;
        border: 10px solid #f3f3f3;
        border-top: 10px solid #3498db;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        animation: spin 1s linear infinite;
    }

    .jumbotron {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('../../assets/slide2.jpg');
        background-position: center;
        background-size: cover;
        color: #fff;
    }

    .panel img,.modal img {
        
         block-size: 150px;
     }  
    img {
        block-size: 50px
    }
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    @media only screen and (max-width: 370px) and (max-height: 640px) {

      .container {
       padding: 0;
       margin: 0;
       overflow: hidden;
        }
        .jumbotron {
            padding-top: 50px;
            width: 100%;
            border-radius: 0;
            margin-bottom: 5px;
        
        }

    }