.navbar-brand{
    color: black;
}

.navbar {
    background-color:  rgb(177, 91, 30);
    padding-right: 18px;  
   }

   #logout {
       margin-top: 10px;
       transition: all 0.2s;
   }

   .navbar ul li a {
    transition: all 0.2s;
    color: #000;
   }

   .navbar ul li a:hover {
       color: rgb(88, 88, 88);
   }

   .dropdown-menu li a {
    color: rgb(88, 88, 88);
   }

   @media only screen and (max-width: 370px) and (max-height: 640px) {

.navbar {
    border: none;
}

   }