<link rel="stylesheet" href="https://npmcdn.com/sweetalert2@4.0.15/dist/sweetalert2.min.css">
<script src="https://npmcdn.com/sweetalert2@4.0.15/dist/sweetalert2.min.js"></script>

<div class="container">
  <div class="jumbotron">
    <h2 class="text-center">Create New Customer</h2>
  </div>
  <form [formGroup]="newCustomerForm" (ngSubmit)="createCustomer()">
    <div class="row">
      <div class="form-group col-xs-11 col-md-5">
        <label for="name">Customer Name:</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="c.setName" formControlName="custName">
        <div class="invalid-feedback" *ngIf="!newCustomerForm.get('custName').valid && newCustomerForm.get('custName').touched
        && !newCustomerForm.get('custName').hasError('nameIsAlreadyTaken')">
          please insert valid customer name!
        </div>
        <div class="invalid-feedback" *ngIf="newCustomerForm.get('custName').hasError('nameIsAlreadyTaken') && newCustomerForm.get('custName').touched">
          This Customer Name already exist in the system!
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-11 col-md-5">
        <label for="pwd">Customer Password:</label>
        <input type="password" class="form-control" id="pwd" [(ngModel)]="c.setPassword" formControlName="password">
        <div class="invalid-feedback" *ngIf="!newCustomerForm.get('password').valid && newCustomerForm.get('password').touched">
          please insert valid password!
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary btn-lg" [disabled]="!newCustomerForm.valid">Add New Customer</button>
  </form>
</div>