<link rel="stylesheet" href="https://npmcdn.com/sweetalert2@4.0.15/dist/sweetalert2.min.css">
<script src="https://npmcdn.com/sweetalert2@4.0.15/dist/sweetalert2.min.js"></script>

<div class="container">

  <div class="jumbotron">
    <h2 class="text-center">Comapnies list</h2>
  </div>
  <div class="center-block text-center" *ngIf="loadingCompanies">
    <div class="loader"></div>
    Loading Companies...
  </div>
  <div class="div">
    <table class="table table-striped table-hover">

      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Password</th>
        </tr>
      </thead>
      <tbody>
        <tr class="clickable-row" data-toggle="modal" data-target="#myModal" *ngFor="let company of companies" (click)="setCompany(company)">
          <td>{{ company.getId }}</td>
          <td>{{ company.getName }}</td>
          <td>{{ company.getEmail }}</td>
          <td>{{ company.getPassword }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="divider">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center">{{ company.getName }}</h4>
      </div>
      <div class="modal-body">
        <button class="btn btn-warning btn-sm center-block" data-toggle="collapse" data-target="#updateForm">Update Company</button>
        <button class="btn btn-danger btn-sm center-block" (click)="deleteCompany()">Delete Company</button>
        <hr>
        <form id="updateForm" class="collapse" [formGroup]="updateCompanyForm" (ngSubmit)="updateCompany()">

          <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" [(ngModel)]="company.setEmail" formControlName="email" class="form-control">
            <div class="invalid-feedback" *ngIf="!updateCompanyForm.get('email').valid && updateCompanyForm.get('email').touched">
              please insert valid company email!
            </div>
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" [(ngModel)]="company.setPassword" formControlName="password" class="form-control">
            <div class="invalid-feedback" *ngIf="!updateCompanyForm.get('password').valid && updateCompanyForm.get('password').touched">
              please insert valid company password!
            </div>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!updateCompanyForm.valid">Update</button>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="getAllcompanies()">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>