<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a href="#" class="navbar-brand" routerLink="/customer-home">Customer</a>
    </div>
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li>
                <a href="#" routerLink="/purchase-coupon"
                data-toggle="collapse" data-target=".navbar-collapse.in">Purchase Coupon
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                </a>
            </li>
            <li>
                <a href="#" routerLink="/get-coupons"
                data-toggle="collapse" data-target=".navbar-collapse.in">Get Purchased Coupons
                    <span class="glyphicon glyphicon-piggy-bank"></span>
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <span>
                    <h4 id="hello" style="color:aliceblue;"> Hello, {{customer.getName}}!</h4>
                </span>
            </li>
            <li>
                &nbsp;&nbsp;
                <button id="logout" class="btn btn-default btn-sm" (click)="logout()">
                    Logout
                    <span class="glyphicon glyphicon-off"></span>
                </button>
            </li>
        </ul>
    </div>
</nav>