.jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('../../assets/slide1.jpg');
    background-position: center;
    background-size: cover;
    color: #fff;

}
.row{
margin-left: 37%;
}

#details{
    margin-left: 37%;
}

.jumbotron {
    padding-top: 50px;
    width: 100%;
    border-radius: 0;
    margin-bottom: 5px;
     }

     .div {    
         overflow-x: scroll;
     }
     thead {
         background-color: #fff;
         width: 100%;
     }
     .btn {
          margin-bottom: 5px; 
     }

@media only screen and (max-width: 370px) and (max-height: 640px) {
    .row{
        margin: auto; 
       margin-left: 0%;
    }
    #details{
        margin-left: 0%;
    }
    .container {
        padding: 0;
        margin: 0;
        overflow: hidden;
    
         }
}

 